#
# StudioPieters
#

# General Optimization
CONFIG_COMPILER_OPTIMIZATION_SIZE=y


# Binary Size Reduction
CONFIG_ESP_CONSOLE_UART_DEFAULT=y

# RAM Usage Minimization
# CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=512
# CONFIG_FREERTOS_ISR_STACKSIZE=1536
CONFIG_HEAP_POISONING_DISABLED=y
CONFIG_HEAP_TRACING_OFF=y

#
# HomeKit
#
CONFIG_HOMEKIT_MAX_CLIENTS=16
CONFIG_HOMEKIT_SMALL=y
CONFIG_HOMEKIT_DEBUG=n
# end of HomeKit

#
# wolfSSL
#
CONFIG_WOLFSSL_APPLE_HOMEKIT=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=10500


# logg
#
# Log
#
CONFIG_BOOTLOADER_LOG_VERSION_2=y
CONFIG_BOOTLOADER_LOG_VERSION=2
# CONFIG_BOOTLOADER_LOG_LEVEL_NONE is not set
# CONFIG_BOOTLOADER_LOG_LEVEL_ERROR is not set
# CONFIG_BOOTLOADER_LOG_LEVEL_WARN is not set
CONFIG_BOOTLOADER_LOG_LEVEL_INFO=y
# CONFIG_BOOTLOADER_LOG_LEVEL_DEBUG is not set
# CONFIG_BOOTLOADER_LOG_LEVEL_VERBOSE is not set
CONFIG_BOOTLOADER_LOG_LEVEL=3

#
# Format
#
# CONFIG_BOOTLOADER_LOG_COLORS is not set
# CONFIG_BOOTLOADER_LOG_COLORS_SUPPORT is not set
# CONFIG_BOOTLOADER_LOG_TIMESTAMP_SOURCE_NONE is not set
CONFIG_BOOTLOADER_LOG_TIMESTAMP_SOURCE_CPU_TICKS=y
CONFIG_BOOTLOADER_LOG_TIMESTAMP_SUPPORT=y
# end of Format

#
# Settings
#
CONFIG_BOOTLOADER_LOG_MODE_TEXT_EN=y
CONFIG_BOOTLOADER_LOG_MODE_TEXT=y
# CONFIG_BOOTLOADER_LOG_MODE_BINARY is not set
# end of Settings
# end of Log

CONFIG_I2C_MASTER_ISR_HANDLER_IN_IRAM=y

# ESP-Driver:UART Configurations
#
CONFIG_UART_ISR_IN_IRAM=y
# end of ESP-Driver:UART Configurations

